{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/515daf0792.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>MedicalPedia</title>
</head>

<body>
    <div class="contact_nav">
        <div class="container upper_nav">
            <i class="fas fa-phone-square-alt"> +91-8287794876</i>
            <i class="far fa-paper-plane"><a href="#" style="margin-left: 9px;">ayushguptacomp120@gmail.com</a></i>
            <a href="#">Signup | Loogin</a>
        </div>
    </div>
    <div class="lover_nav">
        <div class="HELLO">
            <h2>MEDICOPEDIA</h2>
            <div class="nav_items_list">
                <a href="#" class="nav_items">HOME</a>
                <a href="#" class="nav_items">ABOUT</a>
                <a href="#" class="nav_items">DEEPARTMENT</a>
                <a href="#" class="nav_items">BLOG</a>
                <a href="#" class="nav_items">CONTACT</a>
                <button class="btn btn-outline-info">Appointment</button>
            </div>
        </div>

        <div class="appointment">
            <p>Welcome to MedicalPedia</p>
            <h2>We are here for your care</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            <button type="button" class="btn btn-primary btn_make_appointment">MAke Your Appointment</button>
        </div>
    </div>

    <div class="covid_data container">
        <div class="covid_test">
            <h1>covid Real Time Data Form Different States of India</h1>
            <button type="button" class="btn btn-secondary btn_make_appointment">Make your appointment</button>
            <br><br>
            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.
                Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness. The best way to prevent and slow down transmission is to
                be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. </p>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: relative; top: 19vh;" class="btn btn-primary">Book Your Vacination</button>
                <button type="button" style="position: relative; top: 19vh;" class="btn btn-primary">Covid Update</button>
                <button type="button" style="position: relative; top: 19vh;" class="btn btn-primary">Get Appointment</button>
            </div>
        </div>
        <div class="API_data">

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>